<div class="content_head">
    <p>您现在的位置：<%= link_to "首页" %> > <%= link_to "联系我们" %> </p>
</div>

<div class="content_list">
    <table>
        <tr>
            <td>联系人：</td>
            <td>潘峰</td>
        </tr>
        <tr>
            <td>电话：</td>
            <td>0432-64822789</td>
        </tr>
        <tr>
            <td>移动电话：</td>
            <td>13264203335</td>
        </tr>
        <tr>
            <td>地址：</td>
            <td>中国 吉林 吉林市船营区 欢喜新林路9号三宝元保健酒厂</td>
        </tr>
        <tr>
            <td>邮编：</td>
            <td>132011</td>
        </tr>
    </table>
</div>

<div class="content_navi">
    <p>
    <%= link_to "首页", { :controller => "home", :action => "index"} %> </br>
    <%= link_to "企业介绍" %> </br>
    <%= link_to "新闻介绍" %> </br>
    <%= link_to "产品介绍" %> </br>
    <%= link_to "合作伙伴" %> </br>
    <%= link_to "联系我们", { :controller => "contact", :action => "index"} %> </br>
    </p>
</div>
