<h1>三宝元</h1>
<hr/>
<p>
<%= link_to "首页" %>
<%= link_to "企业介绍" %>
<%= link_to "新闻介绍" %>
<%= link_to "产品介绍" %>
<%= link_to "合作伙伴" %>
<%= link_to "联系我们" %>
</p>
<p> <%= image_tag "/images/logo2.png" %> </p>
<p>您现在的位置：<%= link_to "首页" %> > <%= link_to "联系我们" %> </p>
<hr/>
<p align="center">吉林省吉林市欢喜新林路9号</p>
<p align="center">Copyright by Sanbaoyuan</p>
