<!DOCTYPE html>
<html>
<head>
  <title>Sanbaoyuan</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="logobar">
        <div class="logobar_inner">
            <div class="container logobar_container">
                <%= link_to "三宝元", { :controller => "home", :action => "index"} %>
            </div>
        </div>
    </div>
    
    <div class="navibar">
        <div class="container">
            <span class="navibar_container">
                <%= link_to "首页", { :controller => "home", :action => "index"} %>
            </span>
            <span class="navibar_container">
                <%= link_to "企业概况" %>
            </span>
            <span class="navibar_container">
                <%= link_to "新闻中心", { :controller => "newsposts", :action => "index"} %>
            </span>
            <span class="navibar_container">
                <%= link_to "产品介绍" %>
            </span>
            <span class="navibar_container">
                <%= link_to "合作伙伴" %>
            </span>
            <span class="navibar_container">
                <%= link_to "联系方式", { :controller => "contact", :action => "index"} %>
            </span>
            
            <p> <%= image_tag "/assets/logo2.png" %> </p>
        </div>
    </div>

    <div class="real_content">
        <div class="container">

            <%= yield %>

        </div>
    </div>
        
    <div class="footer">
        <div class="container">
            <p align="center">中国吉林省吉林市欢喜新林路9号 三宝元保健酒厂</p>
            <p align="center">
            Copyright © 2012 Sanbaoyuan
            <script src="http://s22.cnzz.com/stat.php?id=4542871&web_id=4542871&show=pic" language="JavaScript"></script>
            </p>
        </div>
    </div>
</body>
</html>
